Development/SchematronValidator/src/main/resources/validatorFiles/xsdfiles/4_ICH_ICSR_Schema_Files/multicacheschemas/MCCI_MT200100UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type MCCI_MT200100UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2010-12-08T15:16:43
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.4.4. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2010-12-08T15:16:43
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="COCT_MT040203UV01.xsd"/>
	<xs:annotation>
		<xs:documentation>Please note that the schema published by HL7 has been modified to suit
		the purposes of ISO 27953-1.  References to the schemas needed to support the ICSR topic
		have been manually added to this file.  It therefore differs from the schema published in a purely
		HL7 environment </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="PORR_IN049016UV.xsd"/>
	<xs:include schemaLocation="PORR_IN049017UV.xsd"/>
	<xs:include schemaLocation="PORR_IN049018UV.xsd"/>
	<xs:complexType name="MCCI_MT200100UV.Agent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedOrganization" type="MCCI_MT200100UV.Organization" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAgent" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.AttentionLine">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="keyWordText" type="SC"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Batch">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="creationTime" type="TS"/>
			<xs:element name="securityText" type="ST" minOccurs="0"/>
			<xs:element name="responseModeCode" type="CS"/>
			<xs:element name="versionCode" type="CS" minOccurs="0"/>
			<xs:element name="interactionId" type="II"/>
			<xs:element name="referenceControlId" type="II" minOccurs="0"/>
			<xs:element name="name" type="SC" minOccurs="0"/>
			<xs:element name="batchComment" type="ST" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transmissionQuantity" type="INT" minOccurs="0"/>
			<xs:element name="batchTotalNumber" type="INT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="PORR_IN049016UV" type="PORR_IN049016UV.MCCI_MT000100UV01.Message" nillable="false"/>
				<xs:element name="PORR_IN049017UV" type="PORR_IN049017UV.MCCI_MT000100UV01.Message" nillable="false"/>
				<xs:element name="PORR_IN049018UV" type="PORR_IN049018UV.MCCI_MT000100UV01.Message" nillable="false"/>
			</xs:choice>
			<xs:element name="receiver" type="MCCI_MT200100UV.Receiver"/>
			<xs:element name="respondTo" type="MCCI_MT200100UV.RespondTo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sender" type="MCCI_MT200100UV.Sender"/>
			<xs:element name="attentionLine" type="MCCI_MT200100UV.AttentionLine" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Device">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
			<xs:element name="existenceTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" minOccurs="0"/>
			<xs:element name="asAgent" type="MCCI_MT200100UV.Agent" nillable="true" minOccurs="0"/>
			<xs:element name="asLocatedEntity" type="MCCI_MT200100UV.LocatedEntity" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.LocatedEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="location" type="MCCI_MT200100UV.Place" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Message">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Organization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="notificationParty" type="COCT_MT040203UV01.NotificationParty" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Receiver">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="device" type="MCCI_MT200100UV.Device" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="RCV"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.RespondTo">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="device" type="MCCI_MT200100UV.Device" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="RSP"/>
	</xs:complexType>
	<xs:complexType name="MCCI_MT200100UV.Sender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="device" type="MCCI_MT200100UV.Device" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="CommunicationFunctionType" use="optional" fixed="SND"/>
	</xs:complexType>
</xs:schema>
