Development/SchematronValidator/src/main/resources/validatorFiles/xsdfiles/4_ICH_ICSR_Schema_Files/multicacheschemas/POCP_HD010600UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_HD010600UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.3.1
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.3.1. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="POCP_MT030200UV.xsd"/>
   <xs:include schemaLocation="POCP_MT050100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT090100UV.xsd"/>
   <xs:include schemaLocation="COCT_MT440001UV.xsd"/>
   <xs:include schemaLocation="POCP_MT060000UV.xsd"/>
   <xs:include schemaLocation="POCP_MT060100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT050400UV.xsd"/>
   <xs:include schemaLocation="POCP_MT081100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT070000UV.xsd"/>
   <xs:include schemaLocation="POCP_MT070100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT070200UV.xsd"/>
   <xs:include schemaLocation="POCP_MT020100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT030100UV.xsd"/>
   <xs:complexType name="POCP_HD010600UV.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryPerformer" type="POCP_HD010600UV.PrimaryPerformer" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POCP_HD010600UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="cs" use="optional" default="DEF"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.AdministerableMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrableProduct" type="POCP_HD010600UV.Product" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumedIn" type="POCP_HD010600UV.Consumable1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAdministerableMaterial" use="optional"
                    default="ADMM"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="POCP_MT030100UV.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="optional"
                    default="AUT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Consumable1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="substanceAdministration" type="POCP_HD010600UV.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="substanceAdministration1" type="POCP_MT060100UV.SubstanceAdministration1"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="optional" default="CSM"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Consumable2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="POCP_HD010600UV.ManufacturedProduct"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="optional" default="CSM"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Content">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="containerPackagedProduct" type="POCP_HD010600UV.PackagedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_HD010600UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="optional" default="CONT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Content1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="containerPackagedProduct" type="POCP_HD010600UV.PackagedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_HD010600UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="optional" default="CONT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="observation" type="POCP_MT070100UV.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="actDefinition" type="POCP_MT070200UV.ActDefinition" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="optional" default="DEV"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.DistributedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="distributingOrganization" type="POCP_MT030200UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassDistributedMaterial" use="optional"
                    default="DST"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.EntityWithGeneric">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="genericMedicine" type="POCP_HD010600UV.GenericMedicine" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassHasGeneric" use="optional" default="GRIC"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.EquivalentEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="definingMaterialKind" type="POCP_HD010600UV.MaterialKind" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassEquivalentEntity" use="optional"
                    default="EQUIV"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.GenericMedicine">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional"
                    default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.IdentifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assigningOrganization" type="POCP_MT030200UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="optional"
                    default="IDENT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.IndirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="valuedItem" type="COCT_MT440001UV.ValuedItem" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationIndirectTarget" use="optional" default="IND"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Ingredient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ingredientSubstance" type="POCP_MT081100UV.Substance" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_HD010600UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="optional" default="INGR"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturedProduct" type="POCP_HD010600UV.Product" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="manufacturerOrganization" type="POCP_MT030200UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="deviceOf" type="POCP_HD010600UV.Device" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumedIn" type="POCP_HD010600UV.Consumable1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_HD010600UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional"
                    default="MANU"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.ManufacturedProduct2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturerOrganization" type="POCP_MT030200UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_HD010600UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional"
                    default="MANU"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.ManufacturedProduct3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturerOrganization" type="POCP_MT030200UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumedIn" type="POCP_HD010600UV.Consumable1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="optional"
                    default="MANU"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.MaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="optional" default="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.NamedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="assigningTerritory" type="POCP_MT050400UV.Territory" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="optional"
                    default="IDENT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.PackagedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="capacityQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifiedEntity" type="POCP_HD010600UV.IdentifiedEntity"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asDistributedProduct" type="POCP_HD010600UV.DistributedProduct"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asManufacturedProduct" type="POCP_HD010600UV.ManufacturedProduct2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="POCP_HD010600UV.Content1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassContainer" use="optional" default="CONT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="partProduct" type="POCP_HD010600UV.Product" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="deviceOf" type="POCP_HD010600UV.Device" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumedIn" type="POCP_HD010600UV.Consumable1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_HD010600UV.Product3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_HD010600UV.IndirectTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="optional" default="PART"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.PartOfAssembly">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="wholeProduct" type="POCP_HD010600UV.Product" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="optional" default="PART"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.PotentialSupply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="POCP_HD010600UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
      <xs:attribute name="moodCode" type="cs" use="optional" default="DEF"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.PrimaryPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="POCP_MT030100UV.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPrimaryPerformer" use="optional"
                    default="PPRF"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifiedEntity" type="POCP_HD010600UV.IdentifiedEntity"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asManufacturedProduct" type="POCP_HD010600UV.ManufacturedProduct3"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asNamedEntity" type="POCP_HD010600UV.NamedEntity" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="instanceOfKind" type="POCP_MT020100UV.InstanceOfKind1" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asSpecializedKind" type="POCP_HD010600UV.SpecializedKind" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEntityWithGeneric" type="POCP_HD010600UV.EntityWithGeneric"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asEquivalentEntity" type="POCP_HD010600UV.EquivalentEntity"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="POCP_HD010600UV.Ingredient" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="POCP_HD010600UV.Content" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asPartOfAssembly" type="POCP_HD010600UV.PartOfAssembly" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="part" type="POCP_HD010600UV.Part" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional"
                    default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="optional"
                    default="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="potentialSupply" type="POCP_HD010600UV.PotentialSupply" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="optional" default="PRD"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Product3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="potentialSupply" type="POCP_HD010600UV.PotentialSupply" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="reconstitution" type="POCP_HD010600UV.Reconstitution" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="actDefinition" type="POCP_HD010600UV.ActDefinition" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="optional" default="PRD"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Reconstitution">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="consumable" type="POCP_HD010600UV.Consumable2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POCP_HD010600UV.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="cs" use="optional" default="DEF"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.SpecializedKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="generalizedMaterialKind" type="POCP_HD010600UV.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD010600UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIsSpeciesEntity" use="optional" default="GEN"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="document" type="POCP_MT050100UV.Document" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:choice>
                  <xs:element name="approval" type="POCP_MT050100UV.Approval" nillable="true" minOccurs="1"
                              maxOccurs="1"/>
                  <xs:element name="policy" type="POCP_MT050100UV.Policy" nillable="true" minOccurs="1"
                              maxOccurs="1"/>
               </xs:choice>
               <xs:choice>
                  <xs:element name="marketingAct" type="POCP_MT050100UV.MarketingAct" nillable="true"
                              minOccurs="1"
                              maxOccurs="1"/>
                  <xs:element name="monitoringProgram" type="POCP_MT050100UV.MonitoringProgram"
                              nillable="true"
                              minOccurs="1"
                              maxOccurs="1"/>
               </xs:choice>
            </xs:choice>
            <xs:choice>
               <xs:element name="characteristic" type="POCP_MT050100UV.Characteristic" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="observationGoal" type="POCP_MT050100UV.ObservationGoal" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceSpecification" type="POCP_MT090100UV.SubstanceSpecification"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD010600UV.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="routeCode" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="optional"
                    default="SBADM"/>
      <xs:attribute name="moodCode" type="cs" use="optional" default="DEF"/>
   </xs:complexType>
</xs:schema>