SchematronValidator/src/main/resources/validatorFiles/xsdfiles/4_ICH_ICSR_Schema_Files/multicacheschemas/POCP_MT060200UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_MT060200UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.3.1
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.3.1. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT350000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT650005UV.xsd"/>
   <xs:complexType name="POCP_MT060200UV.AdministrationGuideline">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="POCP_MT060200UV.Subject1" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="POCP_MT060200UV.Author1" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="option" type="POCP_MT060200UV.Option" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POCP_MT060200UV.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedOrganization" type="POCP_MT060200UV.Organization2" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="POCP_MT060200UV.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.LivingSubjectKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrativeGenderCode" type="CV" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="LIV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="KIND"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.ObservationEventCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="IVL_PQ" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Option">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="OPTN"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Organization2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientLivingSubjectKind" type="POCP_MT060200UV.LivingSubjectKind"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT060200UV.Subject2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RSON"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="POCP_MT060200UV.Patient" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT060200UV.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEventCriterion"
                     type="POCP_MT060200UV.ObservationEventCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
</xs:schema>