SchematronValidator/src/main/resources/validatorFiles/xsdfiles/4_ICH_ICSR_Schema_Files/multicacheschemas/POCP_HD020200UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_HD020200UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.3.1
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.3.1. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="POCP_MT030200UV.xsd"/>
   <xs:include schemaLocation="POCP_MT040100UV.xsd"/>
   <xs:include schemaLocation="POCP_MT010400UV.xsd"/>
   <xs:include schemaLocation="POCP_MT010200UV.xsd"/>
   <xs:complexType name="POCP_HD020200UV.Container">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capacityQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asContent" type="POCP_HD020200UV.Content3" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassContainer" use="optional" default="CONT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Content2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="container" type="POCP_HD020200UV.Container" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="optional" default="CONT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Content3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="container" type="POCP_HD020200UV.Container" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="optional" default="CONT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.DeviceInstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturerModelName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="softwareName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifiedItem" type="POCP_HD020200UV.IdentifiedItem" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="POCP_HD020200UV.Content2" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asMember" type="POCP_HD020200UV.Member" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asInstanceOfKind" type="POCP_HD020200UV.InstanceOfKind2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="part" type="POCP_HD020200UV.Part" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="POCP_HD020200UV.Ingredient1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="member" type="POCP_HD020200UV.Member1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassDevice" use="optional" default="DEV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.IdentifiedItem">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assigningProductIdentifierIssuer"
                        type="POCP_HD020200UV.ProductIdentifierIssuer"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="assigningOrganization1" type="POCP_MT030200UV.Organization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="optional"
                    default="IDENT"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Ingredient1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="ingredientProductInstance" type="POCP_HD020200UV.ProductInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="ingredientDeviceInstance" type="POCP_HD020200UV.DeviceInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="optional" default="INGR"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.InstanceOfKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="productInstanceInstance" type="POCP_HD020200UV.ProductInstance"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="deviceInstanceInstance" type="POCP_HD020200UV.DeviceInstance"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="kindOfProduct" type="POCP_MT010200UV.Product" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassInstance" use="optional" default="INST"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.InstanceOfKind2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="kindOfMaterialKind" type="POCP_MT010400UV.MaterialKind" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassInstance" use="optional" default="INST"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="groupProductInstance" type="POCP_HD020200UV.ProductInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="groupDeviceInstance" type="POCP_HD020200UV.DeviceInstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="optional" default="MBR"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Member1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="memberProductInstance" type="POCP_HD020200UV.ProductInstance"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="memberDeviceInstance" type="POCP_HD020200UV.DeviceInstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="optional" default="MBR"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="partProductInstance" type="POCP_HD020200UV.ProductInstance" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="partDeviceInstance" type="POCP_HD020200UV.DeviceInstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="subjectOf" type="POCP_HD020200UV.Subject" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="optional" default="PART"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.ProductIdentifierIssuer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.ProductInstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="stabilityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifiedItem" type="POCP_HD020200UV.IdentifiedItem" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="POCP_HD020200UV.Content2" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asMember" type="POCP_HD020200UV.Member" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asInstanceOfKind" type="POCP_HD020200UV.InstanceOfKind2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="part" type="POCP_HD020200UV.Part" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="POCP_HD020200UV.Ingredient1" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="member" type="POCP_HD020200UV.Member1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional"
                    default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="optional"
                    default="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POCP_HD020200UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="productEvent" type="POCP_MT040100UV.ProductEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEvent" type="POCP_MT040100UV.ObservationEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="transportationEvent" type="POCP_MT040100UV.TransportationEvent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
</xs:schema>